<main>
    <h1>Ok, {{validToken.user.first_name}}. Let´s reset your password</h1>
    <br>
    <form id="resetPasswordForm" action="/api/session/restablishpassword" method="POST"  >
        <div>
            <label>New password</label>
            <input name="password" type="password" id="pass">
        </div>
        <div>
            <label>Reenter your new password please</label>
            <input name="reenteredPassword" type="password" id="repass">
        </div>
        <input name="token" type="hidden" class="d-none" value={{token}}>
        <small id="passDontMatchMsg" class="d-none">Passwords do not match</small>
        <button type="submit" id="resetBtn"> Reset Password </button>

    </form>
</main>

<script>
    const resetPasswordForm = document.getElementById("resetPasswordForm")
    const passInput = document.getElementById("pass");
    const repassInput = document.getElementById("repass");
    const passwordMismatchMsg = document.getElementById("passDontMatchMsg");
    const resetBtn = document.getElementById("resetBtn");

    repassInput.addEventListener("input", () => {
        const password = passInput.value
        const repassword = repassInput.value

        if (password !== repassword || password == null) {
            passwordMismatchMsg.classList.remove("d-none")
            passwordMismatchMsg.classList.add("d-block")
            resetBtn.disabled = true 
        } else {
            passwordMismatchMsg.classList.remove("d-inline")
            passwordMismatchMsg.classList.add("d-none")
            resetBtn.disabled = false 
        }
    })

{{!--     resetPasswordForm.addEventListener("submit", (e)=>{
        e.preventDefault()
        fetch("/api/session/restablishpassword", {
                method: 'POST',
                body: new FormData(resetPasswordForm)
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                console.log(data); 
                if (data.status === "success") {
                    window.location.href = "/";
                } else {
                    console.log("Couldn't reset your password");
                }
            })
            .catch(error =>{
                console.log(error)
            })
    }) --}}
</script>

