<main>
    <h1>Ok, {{validToken.user.first_name}}. Let´s reset your password</h1>
    <br>
    <form id="resetPasswordForm" {{!-- action="/api/session/restablishpassword" method="POST" --}}  >
        <div>
            <label for="pass">New password</label>
            <input name="password" type="password" id="pass">
        </div>
        <div>
            <label for="repass">Reenter your new password please</label>
            <input name="reenteredPassword" type="password" id="repass">
        </div>
        <input name="token" type="hidden" value={{token}} id="userToken">
        <button type="submit" id="resetBtn" disabled="true"> Reset Password </button>

    </form>
</main>

<script>

    const passInput = document.getElementById("pass");
    const repassInput = document.getElementById("repass");
    const resetBtn = document.getElementById("resetBtn");

    const checkPasswords = () => {
        const password = passInput.value;
        const repassword = repassInput.value;

        if (password === "" || repassword === "" || password !== repassword) {
            resetBtn.disabled = true;
        } else {
            resetBtn.disabled = false;
        }
    }

    passInput.addEventListener("input", checkPasswords);
    repassInput.addEventListener("input", checkPasswords);

    const resetForm = document.getElementById("resetPasswordForm")
    
    resetForm.addEventListener("submit", async (e) =>{
        e.preventDefault()
        const token = document.getElementById("userToken").value
        console.log(token)
    
        try{
            const response = await fetch("/api/session/restablishpassword",{
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({ token: token, password: passInput.value })
            })
            const data = await response.json();
            console.log({data})
            console.log({data.status})

        } catch (error){
            console.log(error)
        }
    })


</script>

