<main>
    {{#if validToken}}
        <h1>Ok, {{validToken.user.first_name}}. Let´s reset your password</h1>
        <br>
        <form action="/api/session/restablishpassword" method="POST"   >
            <div>
                <label for="pass">New password</label>
                <input name="password" type="password" id="pass">
            </div>
            <div>
                <label for="repass">Reenter your new password please</label>
                <input name="reenteredPassword" type="password" id="repass">
            </div>
            <input name="email" class="d-none" value={{validToken.user.email}} id="userEmail">
            <input name="token" class="d-none" value={{token}}>
            <button type="submit" id="resetBtn" disabled="true"> Reset Password </button>
        </form>
    {{else}}
        {{#if expired}}
            <p>Your link has expired or its invalid</p>
            <button id="resendBtn"> Send a new link </button>
        {{/if}}
    {{/if}}
</main>

<script>

    const passInput = document.getElementById("pass");
    const repassInput = document.getElementById("repass");
    const resetBtn = document.getElementById("resetBtn")
    const resendBtn = document.getElementById("resendBtn")

    if (resendBtn !== null){
        resendBtn.addEventListener("click", () =>{
            window.location.replace("/restablishPassword")
        })
    }

    if (passInput !== null && repassInput !== null) {
        const checkPasswords = () => {
            const password = passInput.value;
            const repassword = repassInput.value;

            if (password === "" || repassword === "" || password !== repassword) {
                resetBtn.disabled = true;
            } else {
                resetBtn.disabled = false;
            }
        }

        passInput.addEventListener("input", checkPasswords);
        repassInput.addEventListener("input", checkPasswords);
    }

</script>

