
<main>
    <h1>Restablish Password</h1>
    <p>An email will be sent to your mail address with a link that you can access in order to set a new password to your account. This link will only be accessible for 1 hour.</p>
    <p></p>
    <form id="restablishForm" class="">
        <div>
            <label>Email</label>
            <input name="email" type="email" />
        </div>
        <button type="submit"> Send </button>
    </form>
    <p id="checkMail" class="d-none mt-4">Check your mail account!</p>
</main>

<script>
    const restablishForm = document.getElementById("restablishForm")
    restablishForm.addEventListener("submit", async (e) =>{
        e.preventDefault()
        const formData = new FormData(restablishForm);
        const email = formData.get("email");

        try{
            const response = await fetch("/api/session/mailpassword", {method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ email: email })})
            const data = await response.json();

            if(data.status === "success"){
                const checkMailReport = document.getElementById("checkMail")
                checkMailReport.classList.remove("d-none")
                restablishForm.classList.add("d-none")
                return
            }else{
                console.log("couldnt send an email")
            }

        } catch (error){
            console.error(error)
        }
    })

</script>